/* Estilo para el Banner */
.banner-content{
    height: 400px;
    background-color: blueviolet;
}

.banner-content .banner-content__titulo{
    color: white;
    text-transform: capitalize;
    padding: 50px 0 25px 50px ;
}

.banner-content .banner-content__descripcion{
    color: white;
    padding-left: 50px;
}