body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --BackgroundPrincipal-color: #F5F5DC;
    --Title-ElementImportant-color: #77493C;
    --Button-CallToAction-color: #98FB98;
    --Subtitle-Details-color: #4D3728;
    --Link-ElementInteractive-color: #87CEEB;
    --BackgroundSecondary-color: #F7D9F7;
    --Input-Back-color: #D2B48C;
    --Input-Border-Normal:#D3D3D3;
    --Input-Border-Active: #98FB98;
    --Input-Border-Error: #D32F2F;
    --Input-Back-Error: #F8BBD0;
    --Title-Slogan-font: "Playfair Display";
    --Text-Information-font: "Lato";
}

/*                             HEADER                             */
.hero{
    background-color: #77493C;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    gap: 10px;
}
.hero__navBar{
    background-color: #bf5338
}

.hero__cover{
    background-color: #973317;
}

.hero__navBar .navBar__logo-link-img{
    width: 100px;
}