body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --BackgroundPrincipal-color: #f5f5dc;
  --Title-ElementImportant-color: #77493c;
  --Button-CallToAction-color: #98fb98;
  --Subtitle-Details-color: #4d3728;
  --Link-ElementInteractive-color: #87ceeb;
  --BackgroundSecondary-color: #f7d9f7;
  --Input-Back-color: #d2b48c;
  --Input-Border-Normal: #d3d3d3;
  --Input-Border-Active: #98fb98;
  --Input-Border-Error: #d32f2f;
  --Input-Back-Error: #f8bbd0;
  --Title-Slogan-font: "Playfair Display";
  --Text-Information-font: "Lato";
}

/*                             HEADER                             */
.hero {
  background-color: #77493c;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 2em;
  gap: 10px;
}
.hero__navBar {
  background-color: #bf5338;
}

.hero__cover {
  background-color: #973317;
}

.hero__navBar .navBar__logo-link-img {
  width: 100px;
}


/*                             FOOTER                             */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo__img {
  max-width: 100px;
}

.copyright {
  margin-top: 10px;
}

.redes-sociales {
  list-style: none;
  padding: 0;
  margin: 0;
}

.redes-sociales li {
  display: inline-block;
  margin-right: 10px;
}

.redes-sociales li a {
  color: #fff;
  font-size: 18px;
}

.redes-sociales li a:hover {
  color: #ddd;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .logo-footer {
    margin: 0 auto;
  }
}





/*                             CONTACT                             */


/*                             FORM                             */
/*
.form {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 550px;
  background-color: #355891;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.message {
  color: #355891;
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: c;
}

.form label {
  position: relative;
}

.form label .input {
  width: 80%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #355891;
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #355891;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.mens {
  width: 80%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #355891;
  border-radius: 5px;
}

.form label .mens + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: #355891;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .mens:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .mens:focus + span,.form label .mens:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .mens:valid + span {
  color: green;
}

.fancy {
  background-color: white;
  border: 2px solid #355891;
  border-radius: 10px;
  box-sizing: border-box;
  color: #355891;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 8px 30px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.fancy .text {
  font-size: 16px;
  line-height: 16px;
  transition: all 0.3s ease-in-out;
  color: #355891;
}

.fancy:hover {
  color: #355891;
  background: #5f82a9;
}

.fancy:hover::before {
  width: 1.5rem;
  background: #355891;
}

.fancy:hover .text {
  font-weight: bold;
  color: white;
}
*/