body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--BackgroundPrincipal-color);
}

a{
  text-decoration: none;
}

:root {
  --BackgroundPrincipal-color: #f5f5dc;
  --Title-ElementImportant-color: #77493c;
  --Button-CallToAction-color: #98fb98;
  --Subtitle-Details-color: #4d3728;
  --Link-ElementInteractive-color: #87ceeb;
  --BackgroundSecondary-color: #f7d9f7;
  --Input-Back-color: #d2b48c;
  --Input-Border-Normal: #d3d3d3;
  --Input-Border-Active: #98fb98;
  --Input-Border-Error: #d32f2f;
  --Input-Back-Error: #f8bbd0;
  --Title-Slogan-font: "Playfair Display";
  --Text-Information-font: "Lato";
}

/*                             HEADER                             */
.hero {
  display: flex;
  flex-direction: column;
}


.hero__navBar{
  background-color: transparent;
  height: 65px;
  min-height: 70px;
  padding: 5px 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero__navBar__logo .navBar__logo-link{
  display: flex;
  align-items: center;
}

.hero__navBar__logo .navBar__logo-link-img{
  width: 70px;
}

.hero__navBar__nav{
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero__navBar__nav .navBar__nav-menu{
  list-style: none;
  display: inherit;
  gap: inherit;
}

.navBar__nav-menu-item-link,
.button-btn{
  color: var(--Subtitle-Details-color);
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
}
.navBar__nav-menu-item-link::before,
.button-btn::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--Subtitle-Details-color);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}

.navBar__nav-menu-item-link:hover::before,
.button-btn:hover::before{
  transform: scaleX(1);
}

.button-btn:hover::before{
  background-color: var(--Button-CallToAction-color);
}

/* Header del index*/

.hero__cover {
  height: 60dvh;
  background-image: url(../assets/img/banner/index-img.jpg); /* Imagen */
  background-color: #00000037; /* Color */
  background-blend-mode: multiply; /* Efecto */
  background-size: cover;
  font-family: 'Playfair Display', serif;
  display: flex;
  align-items: center;
}

.hero__cover__texts{
  width: 50%;
  padding: 0 50px;
}

.cover__title{
  font-weight: bolder;
  font-size: 2.5rem;
  color: #ffffff;
}

.cover__slogan{
  font-size: 1.7rem;
  color: #e0c1b9;
}

.cover__description{
  color: white;
  padding: 0;
  font-size: 1.35rem;
  margin-bottom: 60px;
}

.cover__btnContact{
  outline: none;
  color: #DAA06D;
  padding: .5em 5em;
  text-align: center;
  border: 2px dashed #DAA06D;
  border-radius: 15px;
  background-color: #EADDCA;
  box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .1s ease-in-out, .4s color;
}

.cover__btnContact:hover{
  color: #EADDCA;
  border-color: #EADDCA;
  border-radius: 15px;
  background-color: #DAA06D;
  box-shadow: 0 0 0 4px #DAA06D, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.cover__btnContact:active {
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: 0 0 0 4px #EADDCA, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}



/*                             FOOTER                             */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo__img {
  max-width: 100px;
}

.copyright {
  margin-top: 10px;
}

.redes-sociales {
  list-style: none;
  padding: 0;
  margin: 0;
}

.redes-sociales li {
  display: inline-block;
  margin-right: 10px;
}

.redes-sociales li a {
  color: #fff;
  font-size: 18px;
}

.redes-sociales li a:hover {
  color: #ddd;
}

/*                              Header other pag                               */
.cover__pag{
  height: 30dvh;
  background-color: #4a200571; /* Color */
  background-blend-mode: multiply; /* Efecto */
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
}

.hero__cover__textss{
  padding: 0 50px;
}

.hero__cover__menu{
  background-image: url(../assets/img/banner/menu-img.jpg);
  background-position: center;
}

.hero__cover__gallery{
  background-image: url(../assets/img/banner/gallery-img.jpg);
  background-position: center;
}

.hero__cover__about{
  background-image: url(../assets/img/banner/about-img.jpg);
  background-position: center;
}

.hero__cover__contact{
  background-image: url(../assets/img/banner/contact-img.jpg);
  background-position: center;
}

/*                              INDEX                               */

.main__menu,
.main__promotions,
.main__galery,
.main__blog,
.main__local{
  width: 100dvw;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.main__menu__container,
.main__promotions__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  height: 50dvh;
  padding: 20px;
  gap: 15px;
}

.main__menu__title,
.main__promotions__title,
.main__galery__title,
.main__blog__title{
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 2rem;
}

.menu__img{
  width:100%;
  border-radius: 10px;
}

.menu__carta{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu__carta-item{
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__promotions__container{
  display: grid;
}

.promotions__card{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 500px;
  background-color: #333;
}

.promotions__card__image{
  align-self: center;
  width: 90%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

/*                             CONTACT                              */


/*                               FORM                               */
/*
.form {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 550px;
  background-color: #355891;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.message {
  color: #355891;
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: c;
}

.form label {
  position: relative;
}

.form label .input {
  width: 80%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #355891;
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #355891;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.mens {
  width: 80%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #355891;
  border-radius: 5px;
}

.form label .mens + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: #355891;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .mens:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .mens:focus + span,.form label .mens:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .mens:valid + span {
  color: green;
}

.fancy {
  background-color: white;
  border: 2px solid #355891;
  border-radius: 10px;
  box-sizing: border-box;
  color: #355891;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 8px 30px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.fancy .text {
  font-size: 16px;
  line-height: 16px;
  transition: all 0.3s ease-in-out;
  color: #355891;
}

.fancy:hover {
  color: #355891;
  background: #5f82a9;
}

.fancy:hover::before {
  width: 1.5rem;
  background: #355891;
}

.fancy:hover .text {
  font-weight: bold;
  color: white;
}
*/