@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Estilo a todo el documento por determinado*/
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Nunito', sans-serif;
}

body{
    height: 100vh;
    background-color:darkred;
    /* background-image: url(/assets/img/fondo-bgd.jpg); */
    background-size: cover;
    background-position: center;
}

/* MENÚ DE NAVEGACIÓN */

.header li{
    list-style: none;
}

.header a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: all 0.5s ease;
}

.header a:hover{
    scale: 1.05;
    color: orange;
}

/* HEADER */
.header{
    position: relative;
    padding: 0 2rem;
}

.navBar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar .logo .logo__img img{
    margin: auto;
    height: 50px;
    width: auto;
    transition: all 0.3s;
}
.navBar.logo .logo__img img:hover{/*Animación*/
    transform: scale(1.2);
}

.navBar .menu-nav{
    display: flex;
    gap: 2rem;
}

.navBar .toggle-btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.header .contact-btn{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}
.header .contact-btn:hover{
    scale: 1.05;
    color:white
}
.header .contact-btn:active{
    scale:0.95;
}

/* DROPDOWN MENU */
.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 280px;
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .contact-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* DISEÑO RESPONSIVO */
@media(max-width: 992px){
    .navBar .menu-nav,
    .navBar .contact-btn{
        display: none;
    }

    .navBar .toggle-btn{
        display: block;
    }
    .dropdown-menu{
        display: block;
    }

}
@media(max-width: 576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}